section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}

.first-section {
  color: white;
}

.blueish {
  background: #002233;
  color: white;
}

.greenish {
  background: #9fd3c7;
}

.greyish {
  background: #cccccc;
  background-image: url("../assets/waves2.svg");
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("../assets/waves.svg");
}

.layer2 {
  background-image: url("../assets/waves2.svg");
}
