.nav-link {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.nav-link:hover {
  background: #385170;
}

.nav-link:active {
  background: #ececec;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #142d4c;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.buttons-container {
  display: flex;
}
