.replay-header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}

.turnId-container {
  padding-top: 5px;
  justify-content: left;
  font-weight: 550;
}

.invalid-move-container {
  display: flex;
  justify-content: center;
}

.select-replay-button-container {
  display: flex;
  justify-content: right;
}
